In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('/home/student/Desktop/Python/dataset/off_stationary.csv', header = None)
df.columns = ['ID', 'Product']
g = df.groupby('ID')
df.head()

   ID      Product
0   1       Pencil
1   1  Design_Book
2   1     Whitener
3   1      Gel_Pen
4   1     Scissors

In [3]:
transaction = []          #list for the products buy by each customer
for i in g:
    transaction.append(i[1]['Product'].values.tolist())

In [4]:
tr = {}                   #dictionary for tranzactions
for i in transaction:
    for j in i:
        if tr.get(j, -1) != -1:
            tr[j].extend([k for k in i if k != j])
        else:
            tr[j] = [k for k in i if k != j]

In [5]:
reln = {}               #dictionary for the relations and the no of occurances
for i, j in tr.items():
    for k in j:
        if reln.get((i, k), -1) != -1:
            reln[(i, k)] += 1
        else:
            reln[(i, k)] = 1

In [15]:
c = df.groupby('Product').count().reset_index()
final = {}                   #final dictionary for the relation and the respectiove lift
for i, j in reln.items():
    freq = c[c['Product'] == i[0]]['ID'].values
    support = freq/4386
    conf = j/freq
    lift = conf/support
    final[i] = lift
    
final = pd.DataFrame.from_dict(final, orient='index').sort_values(0, ascending = False).reset_index()
final.columns = ['Relation', 'Lift']
final.head()

                       Relation       Lift
0            (Ball_Pen, Pencil)  69.619048
1           (Ball_Pen, Pin_Box)  67.132653
2          (Ball_Pen, Box_File)  62.159864
3  (Ball_Pen, Punching_Machine)  57.187075
4       (Bag, Punching_Machine)  57.156379

In [16]:
recomendation = {}
cnt = 0
for i in final['Relation'].values:
    if recomendation.get(i[0], -1) != -1:
        recomendation[i[0]].append(i[1])
    else:
        recomendation[i[0]] = [i[1]] 
    cnt += 1
    if cnt > 10:
        break

In [17]:
for i, j in recomendation.items():
    print('Customer who buys', i, 'tends to buy', end = ' ')
    for k in j:
        print(k, end = ', ')

Customer who buys Ball_Pen tends to buy Pencil, Pin_Box, Box_File, Punching_Machine, Gel_Pen, Notebook, File, Customer who buys Bag tends to buy Punching_Machine, Gel_Pen, Box_File, Pencil,